/* Global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: radial-gradient(circle, #EDEDED, #C2C2C2);
}

/* Header styles */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-container a {
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #ccc;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.logo img {
  height: 2rem;
  width: 2rem;
}

.logo-title {
  font-family: "Montserrat", sans-serif;
}

/* Navbar styles */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 10%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  border-right: 1px solid #ccc;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  border-radius: 1.5rem;
  font-size: 1.2rem;
  margin: 1.5rem 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
}

.nav-links li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.nav-links li a span {
  margin-top: 5px; /* Add some space between the image and the text */
}

.nav-links a.active {
  font-weight: 600;
}

.nav-links li:hover {
  background-color: rgba(211, 211, 211, 0.3);
  font-weight: 700;
}

.nav-links i {
  color: black;
  font-size: 1.25rem;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #ccc;
}

/* User details styles */

.user-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4.68rem;
  margin-left: 10.5%;
  width: 44%;
  padding: 5rem;

}

.user-details, .preferences {
  background-color: rgba(250, 250, 250, 0.5); /* set the background color with an alpha value to create transparency */
  padding: 6.25rem; /* add some padding to the section */
  border-radius: 20px; /* add rounded corners to the section */
  backdrop-filter: blur(10px); /* add a blur effect to the background */
}


.user-image {
  margin-right: 10px;
  padding: 2rem;
}

#user-info {
  flex-grow: 1;
}

.user-details p {
  margin: 5px 0;
  padding:15px;
  font-size: 17px;
  font-weight: 500;
}


.form-group button {
  background-color: #363434;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 20px;
  width: 10rem;
}

.form-group button:hover {
  background-color: #535352;
}

.form-group button:active {
  background-color: rgb(220, 220, 220);
}

/* Preferences styles */

.preferences {
  float: right;
  padding-top: 2rem;
  padding-left: 2rem;
  width: 44.2%;
  margin-top: 4.68rem;
  margin-left: .75%;
  padding: 3.7rem;
  border-radius: 20px;
  
}

.preference-item {
  display: flex;
  align-items: center;
}

.preference-icon {
  height: 35px;
  margin-right: 12px;
}

.preferences h2 {
  margin-top: 20px;
  margin-bottom: 5px;
}


/* CSS for toggles */
.icon {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  width: 1.3rem;
}

.icon:hover {
  opacity: 1;
}

/* Styling for checked toggle */
.icon.checked {
  opacity: 1;
}

/* Styling for the toggle button */
.icon:before {
  font-family: "Font Awesome 6 Free";
  content: "\f204";
  font-size: 16px;
}

.icon.checked:before {
  content: "\f205";
}

/* Styling for the toggle container */
.preference-item {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.preference-icon {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.slider {
  -webkit-appearance:none;
  width: 70%;
  height: 15px;
  border-radius: 5px;
  background: #d4d4d4;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider-value {
  margin-right: 15px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}


.container {
  display: flex;
  flex-direction: row;
}
